.category-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: #f0e4d7; /* Cambiar el color de fondo */
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #000; /* Color del texto */
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #000; /* Color del texto */
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.category-row {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.category-button {
  background-color: #00a2ff;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.category-button:hover {
  background-color: #007acc;
  transform: translateY(-2px);
}
