.memory-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  background-color: #f0e4d7; /* Cambiar el color de fondo */
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.game-board {
  display: grid;
  grid-gap: 10px;
  max-width: 1000px;
  width: 100%;
  margin-top: 20px; /* Adjust the margin to move cards closer to the title */
}

.game-card {
  width: 100px;
  height: 150px;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
  margin: auto; /* Center the cards */
}

.game-card.flipped .card-front,
.game-card.matched .card-front,
.game-card.incorrect .card-front {
  transform: rotateY(0);
}

.game-card.flipped .card-back,
.game-card.matched .card-back,
.game-card.incorrect .card-back {
  transform: rotateY(180deg);
}

.game-card .card-front,
.game-card .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.game-card .card-front {
  background: #ffffff;
  color: #000000;
  transform: rotateY(180deg);
}

.game-card .card-back {
  background: #00a2ff;
  color: #ffffff;
  font-size: 64px; /* Increase the font size for the question mark */
}

.game-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire card */
  border-radius: 10px; /* Ensure the image fits the card shape */
}

.game-card.matched .card-front {
  border: 5px solid green;
}

.game-card.incorrect .card-front {
  border: 5px solid red;
}
