.contenedor-perfil {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor-perfil h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.mensaje {
  text-align: center;
  margin-bottom: 20px;
}

.mensaje.exito {
  color: green;
}

.mensaje.error {
  color: red;
}

.detalles-perfil {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item-perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.item-perfil.par {
  background-color: #f9f9f9;
}

.item-perfil.impar {
  background-color: #fff;
}

.item-perfil label {
  font-weight: bold;
  flex: 1;
}

.item-perfil input,
.item-perfil select,
.item-perfil textarea {
  flex: 2;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.item-perfil input[disabled], 
.item-perfil select[disabled], 
.item-perfil textarea[disabled] {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.item-perfil textarea {
  resize: vertical;
}

.acciones-perfil {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.acciones-perfil button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton-guardar {
  background-color: #28a745;
}

.boton-guardar:hover {
  background-color: #218838;
}

.boton-editar {
  background-color: #007bff;
}

.boton-editar:hover {
  background-color: #0056b3;
}

.boton-cambiar-contrasena {
  background-color: #ffc107;
}

.boton-cambiar-contrasena:hover {
  background-color: #e0a800;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.password-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.password-container label {
  margin-bottom: 5px;
}

.password-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
