/* Estilo del contenedor principal */
.contenedor-seleccion-categoria {
  padding: 40px;
  background-color: #f0e4d7; /* Color de fondo */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centra el texto */
}

/* Título principal */
.contenedor-seleccion-categoria h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

/* Subtítulo */
.contenedor-seleccion-categoria h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #323232;
  font-family: 'Roboto', sans-serif;
}

/* Contenedor de categorías */
.categorias {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

/* Estilo de cada fila de categorías */
.fila-categoria {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Estilo de cada botón de categoría */
.boton-categoria {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif; /* Fuente a Roboto para los botones */

  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

/* Efecto hover para los botones */
.boton-categoria:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}
