/* General Styles for Home Component */
.home-container {
  text-align: center;
  padding: 20px;
}

.title-container {
  margin-bottom: 30px;
}

.game-selection {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s;
  width: 250px; /* Ajuste el ancho del contenedor */
}

.game-card:hover {
  transform: translateY(-5px);
}

.game-card img {
  width: 100%; /* Ajuste el ancho de la imagen para llenar el contenedor */
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.game-card button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  width: 100%; /* Asegurar que el botón llene el ancho del contenedor */
}

.game-card button:hover {
  background-color: #0056b3;
}
