/* Estilos para el contenedor del registro */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
}

/* Estilos para la caja de registro */
.register-box {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Estilos para el título de la caja de registro */
.register-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para los mensajes de error */
.error {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

/* Estilos para los elementos del formulario */
form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input, form select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para el contenedor de la contraseña */
.password-container {
  position: relative;
}

/* Estilos para el ícono de toggle de la contraseña */
.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 35px;
  cursor: pointer;
}

.password-toggle-icon img {
  width: 20px;
  height: 20px;
}

/* Estilos para el botón de registro */
.register-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.register-button:hover {
  background-color: #218838;
}

/* Estilos para el footer de la caja de registro */
.register-footer {
  text-align: center;
}

.register-footer p {
  margin: 10px 0;
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .register-box {
    padding: 10px;
  }

  form input, form select {
    padding: 8px;
  }

  .register-button {
    padding: 8px;
  }
}
