.app-header {
  display: flex;
  align-items: center;
  background-color: #f73737; /* Fondo rojo */
  color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}

.app-title {
  flex: 1;
}

.app-title h1 {
  margin: 0;
  font-size: 24px;
}

.app-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 2;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
  font-size: 16px;
}

.nav-item:hover,
.nav-item.active {
  background-color: #666;
}

.nav-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.sign-out-button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.sign-out-button:hover {
  background-color: #666;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content p {
  margin-bottom: 20px;
  color: black;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #f73737;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #d32f2f;
}

@media (min-width: 768px) {
  .nav-item {
    flex-direction: row;
  }

  .nav-icon {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .sign-out-button {
    flex-direction: row;
  }
}
