.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #69cfa0;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(36, 35, 35, 0.2);
}

.app-title h1 {
  margin: 0;
  font-size: 24px;
}

.app-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
  font-size: 16px;
}

.nav-item:hover,
.nav-item.active {
  background-color: #666;
}

.nav-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.sign-out-button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.sign-out-button:hover {
  background-color: #666;
}

@media (min-width: 768px) {
  .nav-item {
    flex-direction: row;
  }

  .nav-icon {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .sign-out-button {
    flex-direction: row;
  }
}
