/* Estilos principales de la aplicación */
.App {
  text-align: center; /* Centra el texto */
}

/* Estilos del encabezado de la aplicación */
.App-header {
  background-color: #282c34; /* Color de fondo del encabezado */
  min-height: 100vh; /* Altura mínima del encabezado, ocupando toda la altura de la ventana */
  display: flex; /* Utiliza flexbox para el diseño */
  flex-direction: column; /* Los elementos hijos se organizan en una columna */
  align-items: center; /* Alinea los elementos hijos al centro horizontalmente */
  justify-content: center; /* Alinea los elementos hijos al centro verticalmente */
  font-size: calc(10px + 2vmin); /* Tamaño de fuente dinámico basado en el tamaño de la ventana */
  color: white; /* Color del texto blanco */
}

/* Estilos del enlace de la aplicación */
.App-link {
  color: #61dafb; /* Color del enlace */
}
