/* Estilos para los títulos */
h1, h2 {
  font-family: 'Roboto', sans-serif; /* Aplicar Roboto */
  color: #000; /* Color del texto */
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contenedor-dificultad-seleccion {
  text-align: center;
  padding: 20px;
}

.dificultad-botones {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.dificultad-boton {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dificultad-boton.facil {
  background-color: #4caf50;
}

.dificultad-boton.medio {
  background-color: #ff9800;
}

.dificultad-boton.dificil {
  background-color: #f44336;
}

.dificultad-boton:hover {
  opacity: 0.8;
}

/* Estilos para la superposición del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Estilos para el contenido del modal */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1001;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content p {
  margin-bottom: 10px;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
}

.modal-content button:hover {
  background-color: #0056b3;
}
